<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electron-Linker App</title>
    <link rel="stylesheet" href="../assets/app.css">
    <script src="../src/client.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Linkrs</h1>
      <form>
        <div class="field">
          <label class="label">Link</label>
          <div class="control">
            <label>
              <input class="input" placeholder="URL link" type="url">
            </label>
          </div>
        </div>
        <div class="control">
          <button class="button is-primary">Add link</button>
        </div>
      </form>
      <hr/>
      <h2 class="title">My links</h2>
      <h3 class="subtitle">Never lose them again</h3>
      <ul class="menu-list is-hoverable">
      </ul>
    </div>
  </body>
</html>
